<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--  Permissions needed to rotate emulator or device -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kherkin">
        <activity
            android:name="com.progressive.sampleapp.activities.xml.MainActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.progressive.sampleapp.activities.xml.ListActivity"/>
        <activity android:name="com.progressive.sampleapp.activities.xml.ViewPagerActivity"/>
        <activity
            android:name="com.progressive.sampleapp.activities.xml.FinalActivity"
            android:windowSoftInputMode="adjustPan"
            />
        <activity android:name="com.progressive.sampleapp.activities.xml.ButtonActivity"/>
        <activity android:name="com.progressive.sampleapp.activities.xml.TextFieldActivity"/>
        <activity android:name="com.progressive.sampleapp.activities.xml.WebViewActivity"/>
        <activity android:name="com.progressive.sampleapp.activities.compose.BasicComposeActivity"/>
        <activity android:name="com.progressive.sampleapp.activities.compose.SecondComposeActivity"/>
        <activity android:name="com.progressive.sampleapp.activities.compose.FinalComposeActivity"/>
    </application>

</manifest>